html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  color: #333;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  margin: 3.5rem 0 1.5rem 0;
}

p {
  font-size: 1.6rem;
}

#main {
  margin: 3rem 1.5rem;
  background-color: #eee;
  border-radius: 8px;
  padding: 0.5rem 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #151515;
  border-radius: 5px;
}

#img-div {
  width: 90%;
  margin: 1.5rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#img-caption p {
  color: #fff;
  margin: 2rem 0 0 0;
}

#tribute-info {
  /* width: 50%; */
  max-width: 700px;
  /* min-width: 400px; */
  margin: 0 auto;
  
}

h2 {
  font-size: 2.5rem;
  margin: 5rem 0;
}

#tribute-info p {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 4rem 0;
  text-align: left;
}

.date {
  /* min-width: 13%; */
  min-width: 80px;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 20px;
  
}

.description {
  max-width: 85%;
  font-size: 1.6rem;
  
}

.quote {
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #35393e;
  color: #fff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.quote p:first-child {
  text-align: left;
  font-style: italic;
  width: 70%;
  font-size: 2rem;
}

.quote p:last-child {
  text-align: right;
  width: 70%;
  font-size: 2rem;
}

.link p {
  font-size: 2rem;
  margin: 4rem 0;
}
